<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>
             ABOUT Page
        </title>
    </head>
    <body>
        {{>header}}
<p>Some Description here....</p>

{{>footer}}
    </body>
</html>