<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>
             ABOUT Page
        </title>
    </head>
    <body>
        {{>header}}
<p>Something will be here in future...you will see</p>

{{>footer}}
    </body>
</html>